.sidebar .sidebar-content {
    background-image: linear-gradient(#2e7bcf,#2e7bcf);
    color: white;
}

.Widget>label {
    color: white;
    font-weight: bold;
}

.stRadio>div{
    flex-direction:row;
    align-items: center;
}

.stRadio>div>label{
    margin-right: 15px;
}

/* CSS personalizado para ajustar a barra lateral */
.st-emotion-cache-j7qwjs.eczjsme15 {
    display: none !important;
}

.stSidebarHeader {
    padding: 0 !important;
    margin: 0 !important;
    height: 0 !important;
}

.stSidebarNavSeparator {
    display: none !important;
}

.stSidebar > div:first-child {
    padding-top: 1rem !important;
}

.stSidebar .block-container {
    padding-top: 0 !important;
}

/* Estilos para a página de gerenciar férias */
.stMarkdown h2 {
    color: white;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-top: 30px;
}

.stContainer {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.stExpander {
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 10px;
}

.stInfo {
    background-color: #444;
    border-left: 5px solid #666;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.stSuccess {
    background-color: #444;
    border-left: 5px solid #666;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

/* Remover estilização personalizada dos botões para usar o padrão do Streamlit */

/* Ocultar estrutura de pastas e elemento específico */
.st-emotion-cache-1ekxtbt.eczjsme16,
.st-emotion-cache-1rtdyuf.e1g8pov64 {
    display: none !important;
}

/* Ajuste adicional para garantir que a estrutura de pastas fique oculta */
.main.st-emotion-cache-uf99v8.ea3mdgi8 {
    padding-top: 0 !important;
}

/* Ajuste do posicionamento do bloco vertical */
.stVerticalBlock.st-emotion-cache-64tehz.e1f1d6gn2 {
    margin-top: -110px !important;
    padding-top: 0 !important;
}

/* Ajuste dos elementos filhos do bloco vertical */
.stVerticalBlock.st-emotion-cache-64tehz.e1f1d6gn2 > div {
    padding-top: -70px !important;
    margin-top: 5px !important;
}

/* Garante que não haja espaços indesejados */
.stVerticalBlock.st-emotion-cache-64tehz.e1f1d6gn2 > div:first-child {
    margin-top: 0 !important;
}

/* Ajuste da linha horizontal */
.stElementContainer.st-emotion-cache-1321l1d hr {
    
    display: none !important;
}

/* Remove espaçamento extra do container */
.stElementContainer.st-emotion-cache-1321l1d {
    padding: 5px!important;
    margin: 0 !important;
}

/* Ajusta o container do markdown */
.stElementContainer.st-emotion-cache-1321l1d .stMarkdown {
    margin: 0 !important;
    padding: 0 !important;
}